body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;  
}

h1{
    text-align: center;
}

form {
    background: white;
    width: 380px;
    padding: 20px;
    margin: 0 auto 50px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.checkbox-group{
    margin: 25px 0;
    display: grid;
    grid-template-columns: auto auto;
}

.checkbox-group input {
    margin-right: 50px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#metal{
    margin-left: 24px;
}

#organico{
    margin-left: -3px;
}


button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    font-size: 15px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.card {
    width: 280px;
    padding: 16px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.card p {
    margin: 4px 0;
    font-size: 14px;
}

.badge {
    display: inline-block;
    padding: 4px 8px;
    background: #4CAF50;
    color: white;
    border-radius: 8px;
    margin-right: 4px;
    font-size: 12px;
}
